{% extends 'BackOfficeBundle:Default:layout.html.twig' %}
{% block content %}
<table class="table table-bordered">
        <thead>
            <tr>
            <th>#</th>
            <th>Avis</th>
            <th>Note</th>
            <th>Date</th>
            </tr>
        </thead>
        </tbody>
            {% for unavis in avis %}
                <tr><td>{{ unavis.id }}</td><td>{{ unavis.avis }}</td><td>{{ unavis.note }}</td><td>{{ unavis.dateCreation|date('d/m/Y à H:i:s') }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}