{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <footer class="footer">
    <div class="container">
      <p class="text-muted" style="text-align: center; margin-top: 50px; font-size:22px;">by Jeres</p>
    </div>
  </footer>
{% endblock %}